<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">About me.</h2>
                <p class="default-p">
                    My name is Dylan Gearhart, and I love <span class="default-highlight">developing ideas into software</span>.
                </p>
                <p>
                    <img src="assets/dylan_pool.jpg" alt="me outside" width="642" height="728"> 
                </p>
                <p class="default-p">
                    I am a Software Developer from Kalamazoo, MI currently living in Tallahassee, FL.  
                </p>
                <p class="default-p">My interest in Computer Science started back in 2019 when my close friend showed me a game he was developing in C++.
                    The following year, I returned to college to study computer science and landed my first job as a part-time IT Assistant at Western Michigan University Homer Stryker M.D School of Medicine. 
                    During my time here in this role, I was exposed to a wide variety of technologies and experiences. Eventually, I was offered a role a Junior Web Developer to work on the school's E-learning platform. I view the 18 months I was employed there as an invaluable experience and look back on it very fondly.
                    Early on during my time there, the university was targeted in a <span class="default-highlight">  cyberattack</span>. Seeing the fallout of such an attack firsthand made me realize the importance of Cybersecurity and how vital it is to develop secure systems in todays digital environment. Shortly after this incident, I switched my major to Cybersecurity.
                    
                </p>
                <p class="default-p">
                    Fast-forward to today, and I in my final year of school and I am currently a Software Developer Intern at Paul Consulting Group in Tallahasee, FL.
                </p>
                <p class="default-p">
                    At PCG, I've had the opportunity to work with a wide range of <span class="default-highlight">technologies</span>  and work on different <span class="default-highlight"> projects</span> including refactoring
                    legacy code used in an application that processes $34 billion annually of medicaid funds. Additionally, I am on the ground floor
                    of the development of a brand-new web application. I have served as a critical member 
                    in delivering a major improvement to the workflow of our client, who was previously relying on an older and less robust software solution.
                </p>
                <p class="default-p">
                    I've collaborated closely with my team to develop a <span class="default-highlight"> RESTful and Progressive Web Application (PWA) </span> using tools like
                    <span class="default-highlight">.NET MVC</span>, <span class="default-highlight">Angular</span>, and <span class="default-highlight">.NET's Entity Framework</span>.
                     
                </p>
                
                <p>
                    <!-- maybe more pichere-->
                </p>
                
                <p class="default-p">
                    My passion for software development extends beyond my professional life — <span class="default-highlight">I <em>am</em></span> 
                    the kind of person who truly enjoys <span class="default-highlight">tinkering</span>,  
                    <span class="default-highlight">solving puzzles </span>, and <span class="default-highlight">taking stuff apart and figuring out how it works</span> >. I love taking a deep dive into documentation and learning the details of how things work, collaborating with my peers and coworkers to share ideas and solutions.
                    I love taking a deep dive into documentation and learning the details of how things work, collaborating with my peers and coworkers to share ideas and solutions.
                    When I was younger computers seemed like <span class="default-highlight"> magic</span> and I am driven by the desire to make them <span class="default-highlight"> make sense</span>
                </p>

                <p class="default-p">
                    I am deeply interested in low-level programming, embedded systems, electronics, and GPU programming. I am dedicating a significant portion of my free time to studying these topics.
                    In particular, I am focusing on learning more about CUDA and GPU technology. There's something incredibly satisfying about working with hardware. The closer you get to the actual machine, the better. Developing a solution from start to finish—soldering the components, programming the interface, testing and verifying the device's electrical integrity is immensely rewarding.
                </p>

                <p>
                    <img src="assets/railroad.jpg" alt="guitar" width="642" height="690">
                </p>
                <p class="default-p">
                    I have discussed my professional life at length, now I would like you to get to know a little about me on a  personal level. 
                    I am passionate about chess, music, cooking, black coffee and tea! I have played various instruments from a young age but mostly have focused on guitar. When it comes to music genre, my philosophy is this:
                    genres are like different colors for a painter; they each elicit different emotions and correspond to different aspects of the human experience - why limit yourself to only one palette? When it comes to cooking, my speciality is undoubtedly Mexican food.
                    My mother is famous for her Salsa recipe, which I inherited and tinkered with to make my own version (I char the veggies for the amazing smokey flavor). Health & fitness is also important to me and I do my best to exercise regularly to keep
                    my body and mind in top condition. Whether its lifting weights, training martial arts, or swimming I love to stay active! Though I do not read as much as I would like to, I love to read fantasy, science fiction and horror novels. 
                    Some of my favorites are Lord of the rings and various H.P. Lovecraft stories. I also particularly enjoy Edgar Allen Poe's poetry. 
                </p>    

                <p class="default-p">
                    And also as an aside I would like to share that I am getting married in Spring 2026! Below is a picture of me and my beautiful fiance!
                </p>

                <img src="assets/meandkeelz.jpg" width="720" height="690">
                <br><br>
                
                <p class="default-p">
                    I am continuously learning and striving to be the best version of my self. Despite most of my experience being in Web Development, my true goal is to transition to Embedded Development/Cyber Embedded Development. 
                    During my time at university I have taken extensive coursework in low-level programming and embedded systems with a particular interest in GPU technology. During my Junior year, I took a computer architecture course where I interfaced C and ASM to program 
                    a Texas Instrumnents MSP430 Launchpad micro controller to create various projects including: a basic calculator, blinking LED lights, and a retro space exploration game!
                </p>
                <p class="default-p">
                    Thank you for taking the time to learn about me!
                </p>
                
            </div>
            <div class="content">
                <div class="content-left">
                    <h2 class="default-topic">Connect with me.</h2>
                    <p class="default-p">
                        Follow me on LinkedIn, check out my GitHub to see some of my projects, or <span class="default-highlight">reach out to arrange a meeting</span>.
                    </p>
                    <button>
                        <a routerLink="/contact" class="a-green">
                            > Contact me
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
