<div class="align-items-center default-container">
    <div class="col-lg-5">
        <div class="contact-card">
            <img src="assets/professionalheadshot.jpg" alt="Contact Image" class="contact-image">
            <h2 class="contact-title"><span class="white-highlight"></span>
                Dylan Gearhart
                <span class="white-highlight">
                    
                </span>
            </h2>
            <h1 class="default-highlight">SOFTWARE ENGINEER</h1>

            <div class="media-content">
                <div class="media-icons">
                    <div class="media-icon">
                        <a href="https://www.linkedin.com/in/dylan-gearhart-241591214/" target="_blank" class="a-green">
                            <i class="fab fa-linkedin"></i>
                          </a>
                    </div>
                    <div class="media-icon">

                        <a href="https://github.com/dmgear" target="_blank" class="a-green">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>

                    <div class="media-icon">
                        <a href="mailto:dylanmgearhart@gmail.com" class="a-green">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>

                
                </div>
            </div>

            <p class="contact-paragraph">
                If you're looking for a dedicated developer to join your team, 
                I'd love to connect.
                Let’s discuss how we can work together to <span class="default-highlight"> bring your vision to life!</span>
            </p>
            <button>
                <a href="https://www.linkedin.com/in/dylan-gearhart-241591214/" target="_blank" class="a-green">
                > DM me on LinkedIn
                </a>
            </button>
        </div>
    </div>
</div>
