<div class="accordion-left">

  <accordion [isAnimated]="true">

    <accordion-group 
    heading="Languages." 
    [panelClass]="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>Fluent <strong><span class="default-highlight">C#/Typescript</span></strong></p>
      <p>Fluent <strong><span class="default-highlight">Python</span></strong></p>
    </div>
    </accordion-group>

    <accordion-group 
    heading="University." 
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>2025 - Western Michigan University - <strong><span class="default-highlight">Cybersecurity</span></strong> - B.S</p>
      <ul>
        <li>
          Senior Capstone Project | Intrusion Detection and Prevention System
        </li>
      </ul>
      
    </div>    
  </accordion-group>

    <accordion-group 
    heading="Certifications."
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>Comptia Network+ - <strong><span class="default-highlight"></span></strong> April 2025</p>
      <ul>
        <li>
          I succesfully received the Comptia Network+. 
        </li>
      </ul>
      <p>Comptia Security+ - <strong><span class="default-highlight"></span></strong> Dec 2025</p>
      <ul>
        <li>
          I will be taking the Comptia Security+ exam in December 2025.
        </li>
      </ul>
    </div>
    </accordion-group>
    
    <accordion-group 
    heading="Technologies."
    panelClass="customClass"
    class="accordion-title">
          <div class="tech-board">
            <div class="tech-cell">
              <i class="devicon-c-plain"></i>
          </div>

            <div class="tech-cell">
                <i class="devicon-csharp-plain"></i>
            </div>
              
            <div class="tech-cell">
              <i class="devicon-visualstudio-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-angular-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-typescript-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-html5-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-css3-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-python-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-vscode-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-git-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-github-original"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-jira-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-microsoftsqlserver-plain"></i>
        </div>
      </div>
    </accordion-group>
  
  </accordion>
  
</div>