<div class="row align-items-center default-container">
  <div class="col-lg-8">
    <div class="text-left letterpressed">
      <h1 class="home-title letterpressed">Welcome!</h1>
      <h2 class="home-author">Dylan Gearhart, <span id="dynamic-text">{{ dynamicText }}</span></h2>
      <blockquote>
        Nice to meet you! My name is Dylan and I am a Software Developer Intern at Paul Consulting Group in Tallahassee, FL, and a senior student pursuing a B.S in Cybersecurity at Western Michigan University.
      </blockquote>
      <button>
        <a routerLink="/portfolio">
           Portfolio
        </a>
      </button>
    </div>
  </div>
</div>
